* {
  margin: 0;
  box-sizing: border-box;
  /* border: solid 1px rgb(106, 99, 99); */
}

body {
  min-height: 100svh;
}

img {
  display: block;
  max-width: 100%;
  padding: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

h2 {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

p {
  line-height: 1.5;
  letter-spacing: 0.6px;
  font-size: 16px;
}

h1,
h3,
p {
  font-family: "Poppins", sans-serif;
}

.dog-cards {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-container {
  background-color: hsl(83, 100%, 91%);
  color: #0b3712;
  display: flex;
  max-width: 800px;
  border-radius: 10px;
}

.img-container {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  display: grid;
  place-items: center;
  width: 100%;
  padding: 10px;
}

.details-container {
  padding: 30px;
  max-width: 500px;
}

.card-details {
  display: flex;
  text-align: center;
  gap: 40px;
  margin-block: 20px;
}

.label,
.breed {
  color: rgb(33, 130, 46);
}
